@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Orbitron', sans-serif; }
html { scroll-behavior: smooth; }

body {
  background: linear-gradient(to right, #0a0f1c 30%,  #4f46e5 );
  color: white;
  line-height: 1.6;
}