.whoami {
  background: linear-gradient(to right, #0a0f1c 40%, #4f46e5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 100px 150px;
  flex-wrap: wrap;
}

.whoami p {
  margin-top: 1rem;
}

.sobre-img {
  border-radius: 20px;
  border: 5px solid #0a0f1c;
  max-width: 100%;
  height: auto;
}

.mydescricao {
  font-size: 20px;
  max-width: 600px;
  line-height: 1.6;
  text-align: justify;
  word-wrap: break-word;
}

.training {
  background: linear-gradient(to right, #0a0f1c 40%, #4f46e5);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: -35px;
  padding: 4rem 2rem;
}

.training h2 {
  margin-bottom: 50px;
}

.div-training {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timeline-item {
  background: #000811;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.timeline-item time {
  font-size: 0.9rem;
  color: #A0A0A0;
}